<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tsf.demo.provider.dao.SysMenuMapper">
  <resultMap id="BaseResultMap" type="com.tsf.demo.provider.model.SysMenu">
    <id column="menu_id" jdbcType="INTEGER" property="menuId" />
    <result column="menu_code" jdbcType="VARCHAR" property="menuCode" />
    <result column="menu_name" jdbcType="VARCHAR" property="menuName" />
    <result column="menu_url" jdbcType="VARCHAR" property="menuUrl" />
    <result column="parent_id" jdbcType="INTEGER" property="parentId" />
    <result column="menu_level" jdbcType="INTEGER" property="menuLevel" />
    <result column="menu_ico" jdbcType="VARCHAR" property="menuIco" />
    <result column="menu_rdx" jdbcType="INTEGER" property="menuRdx" />
  </resultMap>
  <sql id="Base_Column_List">
    menu_id, menu_code, menu_name, menu_url, parent_id, menu_level, menu_ico, menu_rdx
  </sql>
 <select id="selectByPageNumSize" parameterType="com.tsf.demo.provider.model.SysMenu" resultMap="BaseResultMap">
   select <include refid="Base_Column_List" /> from t_sys_menu
  </select>
  
  <select id="findByUserId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
  	select tsm.* from t_sys_menu tsm 
  	inner join (select tsrm.menu_id from t_sys_role_menu tsrm 
	inner join t_sys_role tsr on tsr.role_id = tsrm.role_id
	inner join t_sys_user_role tsur on tsur.role_id = tsr.role_id
	inner join t_sys_user tsu on tsu.user_id = tsur.user_id
	where tsu.user_id=#{userId,jdbcType=INTEGER} group by menu_id) t 
	on t.menu_id = tsm.menu_id order by menu_rdx
  </select>
  
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_sys_menu
    where menu_id = #{menuId,jdbcType=INTEGER}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_sys_menu
    where menu_id = #{menuId,jdbcType=INTEGER}
  </delete>
  
  <insert id="insert" parameterType="com.tsf.demo.provider.model.SysMenu">
    insert into t_sys_menu (menu_id, menu_code, menu_name, 
      menu_url, parent_id, menu_level, 
      menu_ico, menu_rdx)
    values (#{menuId,jdbcType=INTEGER}, #{menuCode,jdbcType=VARCHAR}, #{menuName,jdbcType=VARCHAR}, 
      #{menuUrl,jdbcType=VARCHAR}, #{parentId,jdbcType=INTEGER}, #{menuLevel,jdbcType=INTEGER}, 
      #{menuIco,jdbcType=VARCHAR}, #{menuRdx,jdbcType=INTEGER})
  </insert>
  
  <insert id="insertSelective" parameterType="com.tsf.demo.provider.model.SysMenu">
    insert into t_sys_menu
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="menuId != null">
        menu_id,
      </if>
      <if test="menuCode != null">
        menu_code,
      </if>
      <if test="menuName != null">
        menu_name,
      </if>
      <if test="menuUrl != null">
        menu_url,
      </if>
      <if test="parentId != null">
        parent_id,
      </if>
      <if test="menuLevel != null">
        menu_level,
      </if>
      <if test="menuIco != null">
        menu_ico,
      </if>
      <if test="menuRdx != null">
        menu_rdx,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="menuId != null">
        #{menuId,jdbcType=INTEGER},
      </if>
      <if test="menuCode != null">
        #{menuCode,jdbcType=VARCHAR},
      </if>
      <if test="menuName != null">
        #{menuName,jdbcType=VARCHAR},
      </if>
      <if test="menuUrl != null">
        #{menuUrl,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=INTEGER},
      </if>
      <if test="menuLevel != null">
        #{menuLevel,jdbcType=INTEGER},
      </if>
      <if test="menuIco != null">
        #{menuIco,jdbcType=VARCHAR},
      </if>
      <if test="menuRdx != null">
        #{menuRdx,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  
  <update id="updateByPrimaryKeySelective" parameterType="com.tsf.demo.provider.model.SysMenu">
    update t_sys_menu
    <set>
      <if test="menuCode != null">
        menu_code = #{menuCode,jdbcType=VARCHAR},
      </if>
      <if test="menuName != null">
        menu_name = #{menuName,jdbcType=VARCHAR},
      </if>
      <if test="menuUrl != null">
        menu_url = #{menuUrl,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        parent_id = #{parentId,jdbcType=INTEGER},
      </if>
      <if test="menuLevel != null">
        menu_level = #{menuLevel,jdbcType=INTEGER},
      </if>
      <if test="menuIco != null">
        menu_ico = #{menuIco,jdbcType=VARCHAR},
      </if>
      <if test="menuRdx != null">
        menu_rdx = #{menuRdx,jdbcType=INTEGER},
      </if>
    </set>
    where menu_id = #{menuId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tsf.demo.provider.model.SysMenu">
    update t_sys_menu
    set menu_code = #{menuCode,jdbcType=VARCHAR},
      menu_name = #{menuName,jdbcType=VARCHAR},
      menu_url = #{menuUrl,jdbcType=VARCHAR},
      parent_id = #{parentId,jdbcType=INTEGER},
      menu_level = #{menuLevel,jdbcType=INTEGER},
      menu_ico = #{menuIco,jdbcType=VARCHAR},
      menu_rdx = #{menuRdx,jdbcType=INTEGER}
    where menu_id = #{menuId,jdbcType=INTEGER}
  </update>
</mapper>