<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tsf.demo.provider.dao.SysRoleMapper">
  <resultMap id="BaseResultMap" type="com.tsf.demo.provider.model.SysRole">
    <id column="role_id" jdbcType="INTEGER" property="roleId" />
    <result column="role_code" jdbcType="VARCHAR" property="roleCode" />
    <result column="role_name" jdbcType="VARCHAR" property="roleName" />
    <result column="grant_user_id" jdbcType="INTEGER" property="grantUserId" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="upd_user" jdbcType="VARCHAR" property="updUser" />
    <result column="upd_date" jdbcType="TIMESTAMP" property="updDate" />
  </resultMap>
  
  <sql id="Base_Column_List">
    role_id, role_code, role_name, grant_user_id, create_user, create_date, upd_user, 
    upd_date
  </sql>
  
  <select id="selectRoles" parameterType="com.tsf.demo.provider.model.SysRole" resultMap="BaseResultMap">
   select <include refid="Base_Column_List" /> from t_sys_role
  </select>
 
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_sys_role
    where role_id = #{roleId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_sys_role
    where role_id = #{roleId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.tsf.demo.provider.model.SysRole">
    insert into t_sys_role (role_id, role_code, role_name, 
      grant_user_id, create_user, create_date, 
      upd_user, upd_date)
    values (#{roleId,jdbcType=INTEGER}, #{roleCode,jdbcType=VARCHAR}, #{roleName,jdbcType=VARCHAR}, 
      #{grantUserId,jdbcType=INTEGER}, #{createUser,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, 
      #{updUser,jdbcType=VARCHAR}, #{updDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.tsf.demo.provider.model.SysRole">
    insert into t_sys_role
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="roleId != null">
        role_id,
      </if>
      <if test="roleCode != null">
        role_code,
      </if>
      <if test="roleName != null">
        role_name,
      </if>
      <if test="grantUserId != null">
        grant_user_id,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="updUser != null">
        upd_user,
      </if>
      <if test="updDate != null">
        upd_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="roleId != null">
        #{roleId,jdbcType=INTEGER},
      </if>
      <if test="roleCode != null">
        #{roleCode,jdbcType=VARCHAR},
      </if>
      <if test="roleName != null">
        #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="grantUserId != null">
        #{grantUserId,jdbcType=INTEGER},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updUser != null">
        #{updUser,jdbcType=VARCHAR},
      </if>
      <if test="updDate != null">
        #{updDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
 
  <update id="updateByPrimaryKeySelective" parameterType="com.tsf.demo.provider.model.SysRole">
    update t_sys_role
    <set>
      <if test="roleCode != null">
        role_code = #{roleCode,jdbcType=VARCHAR},
      </if>
      <if test="roleName != null">
        role_name = #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="grantUserId != null">
        grant_user_id = #{grantUserId,jdbcType=INTEGER},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updUser != null">
        upd_user = #{updUser,jdbcType=VARCHAR},
      </if>
      <if test="updDate != null">
        upd_date = #{updDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where role_id = #{roleId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tsf.demo.provider.model.SysRole">
    update t_sys_role
    set role_code = #{roleCode,jdbcType=VARCHAR},
      role_name = #{roleName,jdbcType=VARCHAR},
      grant_user_id = #{grantUserId,jdbcType=INTEGER},
      create_user = #{createUser,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      upd_user = #{updUser,jdbcType=VARCHAR},
      upd_date = #{updDate,jdbcType=TIMESTAMP}
    where role_id = #{roleId,jdbcType=INTEGER}
  </update>
</mapper>